/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Kaisei Tokumin", serif;
}

html {
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-size: 16px;
    font-family: "Sulphur Point", sans-serif;
}


/* Header */

header {
    width: 100%;
    display: flex;
    position: fixed;
    padding: 15px 50px;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 150px;
    height: auto;
}

header .header-content {
    display: flex;
    align-items: center;
    gap: 25px;
    -webkit-column-gap: 25px;
}

header .header-content a {
    color: #37517e;
}

header .header-content .active {
    border-radius: 3px;
    border-bottom: 1px solid #37517e;
}

header .header-content .login {
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #37517e;
}

.social-icon a {
    display: inline-block;
    margin: 0 6px;
    text-decoration: none;
    color: #666;
    transition: color 0.3s ease-in-out;
}

.social-icon a .bi {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.social-icon a.facebook:hover .bi {
    filter: grayscale(0%);
    color: #1877F2;
}

.social-icon a.instagram:hover .bi {
    filter: grayscale(0%);
    color: #E1306C;
}

.social-icon a.linkedin:hover .bi {
    filter: grayscale(0%);
    color: #0A66C2;
}

.social-icon a.youtube:hover .bi {
    filter: grayscale(0%);
    color: #FF0000;
}


/* Section */

section {
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: url(../images/hero-bg.png) top center no-repeat;
    background-size: cover;
}

section .text-box h2 {
    color: #37517e;
}

section .text-box p {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* Footer */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding: 20px 0px;
    font-size: 14px;
    background-color: #37517e;
}

footer a {
    color: #d2d2d2;
}